ul, li {
  list-style: none;
  padding: 0;
  margin: 0;
}

p {
  margin: 0;
}

.App {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 0 auto;
}

.calcBtn {
  margin-top: 12px;
}

.input {
  padding: 4px 8px;
}

.display {
  margin: 0 auto;
}